<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - BRACU Thesis</title>
</head>
<body>


    <h1>Admin Dashboard</h1>
    <p>Welcome to the Admin Dashboard!</p>

    <a href="/logout">Logout</a>

    <form action="/admin_dashboard" method="post">
        <label for="search_id">Search by ID:</label>
        <input type="text" id="search_id" name="search_id" value="">
        <input type="submit" value="Search">
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.role }}</td>
                <td><a href="/edit_password/{{ user.role }}/{{ user.id }}">Edit Password</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer>
        <p>© 2025 BRACU Thesis Portal | Designed with Elegance</p>
    </footer>
</body>

</html>
